body {
    background-repeat: no-repeat;
    background-size: 100%;
    display:inline-block;
    width:100%;
    background: url(../web-gallery/bg.png)center, #3498db;
}


.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #343746;
    z-index: 0;
}

.headcon {
    width: 900px;
    margin: auto;
    line-height: 300px;
}

.place {
    width: 150px;
    height: 38px;
    float: left;
    background: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-family: Arial, serif;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
    border-radius: 2px;
    margin-left: 15px;
}

.nav {
    width: 100%;
    height: 55px;
    float: left;
    margin-top: 60px;
}

.nav > .user {
    height: 53px;
    width: 40px;
    background: url('../../assets/body.png');
    float: left;
    margin-left: 30px;
}

.nav > .icon1{
    height: 50px;
    width: 50px;
    background: url('../../assets/icon1.png');
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}

.nav > .icon2{
    height: 50px;
    width: 50px;
    background: url('../../assets/icon2.gif');
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}

.dashboard {
    width: 900px;
    height: 1000px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    margin: -70px auto auto;
    z-index: 10;
}

.line {
    width: 100%;
    height: 69px;
    font-family: Roboto, serif;
    line-height: 69px;
    float: left;
    font-size: 24px;
    color: rgba(0,0,0,0.5);
    margin-left: 30px;
}

.line > h1 {
    font-family: Roboto, serif;
}

.dash-line {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    float: left;
    margin-bottom: 20px;
}

.dashboard-entries {
    width: 80%;
    margin: auto;
}

.community-tab {
    margin-top: 10px;
    width: 330px;
    height: 155px;
    float: left;
    background: url('../../assets/com.png');
    transition: 0.5s all;
}

.announcement-tab {
    margin-top: 10px;
    width: 330px;
    height: 155px;
    float: left;
    background: url('../../assets/anc.png');
    transition: 0.5s all;
    margin-left: 60px;
}

.bar-content {
    width:100px;
    float:left;
    margin-right:20px;
}

.bar-content > .bar {
    font-size:9px;
    color:#fff;
    width:95px;
    border-radius:1px;
    text-align:center;
    padding:4px;
}

.bar-content > .user-post {
    font-size:9px;
    margin-top:5px;
    color:#9a9ba0;
}

.update-line-right {
    font-family: Roboto, serif; 
    width:550px;
    float: left;
    max-width: 250px;
}

.short-title {
    font-size:17px;
    width:550px;
    color:rgba(0,0,0,0.6);
    margin-bottom:5px;
    font-family: Roboto, serif;
}

.short-text {
    font-size:13px;
    line-height:15px;
    color:rgba(0,0,0,0.4);
    color:#84868c;
    width:510px;
    float:left;
}

.right-avatar-content {
    float:right;
    width:30px;
}

.user-avatar{
    width: 58px;
    height: 63px;
    float: left;
    border-radius: 65px;
    margin-left: 0px;
    margin-right: 15px;
}

.short-dash {
    width: 750px;
    height: 1px;
    margin-left: 70px;
    background: rgba(0,0,0,0.1);
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
}

.bar-red {
    background-color:#fa6b6b;
}

.bar-green {
    background-color:#87d37c;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

#threadPopup {
    width: 1000px;
    height: auto;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: 100px;
    position: absolute;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    z-index: 10;
}

.topic-post {
    width: 100%;
    padding: 20px;
    height: auto;
    font-family: Roboto, serif;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    float: right;
}

.comment-area {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
    background: rgb(249, 249, 249);
    border-radius: 4px;
    min-height: 230px;
}

.left-com {
    width: 180px;
    height: 100%;
    float: left;
    text-align: center;
    min-height: 230px;
    background: rgb(249, 249, 249);
}

.right-com {
    width: 758px;
    height: 100%;
    float: left;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 20px;
    min-height: 230px;
    background: white;
}

.post-date {
    height: 15px;
    width: 710px;
    margin-bottom: 15px;
    font-size: 11px;
    margin-top: 10px;
    line-height: 10px;
    margin-left: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.post-username-title {
    background: rgba(0,0,0,0.7);
    display: inline;
    font-family: Arial, serif;
    font-size: 11px;
    color: white;
    text-align: center;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.post-user-image {
    width: 70px;
    height: 55px;
    margin: 20px auto 10px;
}

.post-rank {
    font-size: 9px;
    color: #fff;
    text-shadow: -1px 0 rgb(0 0 0 / 20%), 0 1px rgb(0 0 0 / 20%), 1px 0 rgb(0 0 0 / 20%), 0 -1px rgb(0 0 0 / 20%);
    width: 129px;
    border-radius: 4px;
    text-align: center;
    line-height: 23px;
    margin: auto auto 5px;
    font-family: Roboto, serif;
    height: 23px;
}

