<!DOCTYPE html>
<head>
    <title>Habme - Wartungsmodus</title>

    <link rel="stylesheet" href="./web/styles/css/animate.css"/>
    <link rel="stylesheet" href="./web/styles/css/custom.css"/>
    <link rel="stylesheet" href="./web/styles/css/main.css"/>
    <link rel="stylesheet" href="./web/styles/css/home.css"/>

    <meta name="keywords"
          content="habbo.de, habbohotel, habbohotel.me, habbo retro, retro hotel, retro, kostenlose taler, kostenlos, habbo rares, staffs, habme, habhotel.me">
    <meta name="description"
          content="Im Habbohotel.me kriegst du täglich kostenlose Taler und Rares, gefolgt von super coolen Events! Registrier dich jetzt komplett kostenfrei und trete einer unglaublichen Community bei!">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name=viewport content="width=device-width, initial-scale=0.8">
    <meta name="robots" content="index,follow">
    <meta name="geo.region" content="DE-NI"/>
    <meta name="geo.position" content="52.636704;9.845077"/>
    <meta name="ICBM" content="52.636704, 9.845077"/>
</head>

<body style="background-color: rgb(52, 152, 219);">
<div class="container animated fadeInDown">
    <div class="main-container">
        <div class="left-site">
            <img id="logo" src="./web/assets/logo.png" alt="Habbohotel.me: Kostenlose Taler und Rares!"
                 style="margin-top:-45px; margin-left:60px;">
            <div class="update">
                <i class="fa fa-clock-o clock"></i>
                Updates
            </div>

            <div class="team">
                <div class="team-avatar" style="background: url(https://i.imgur.com/ARi0uBW.png) 50% 30%;"></div>
                <div class="team-name">Wieland</div>

                <div class="teamwork">Developer</div>
            </div>
        </div>

        <div class="right-site">
            <div class="rts-con">
                <div class="update-line">
                    <div class="update-block">UPDATE</div>
                    <div class="update-by-user">by Wieland</div>
                </div>

                <div class="update-line-right">
                    <div class="update-title">Changelogs April 9th</div>
                    <div class="update-content">Click to see the new changelogs</div>
                </div>
                <div class="team-avatar" style="background: url(https://i.imgur.com/ARi0uBW.png) 50% 30%;"></div>
                <div class="custom-line"></div>
            </div>
        </div>

    </div>
</div>
</body>
